* {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #222;
  background: white;
}

button,
input {
  font-family: Arial, sans-serif;
  font-size: 14px;
}
